/*
.odd {
    background-color: antiquewhite;
}

.even {
    background-color: white;
}
*/
/*:first-child
:last-child 
tr:nth-child(3){
    background-color: red;
}
tr:nth-child(even){
    background-color: white;
}
*/